<div class="container">
  <h1>Lost pets</h1>

  <ul class="list-inline">
    <% @pets.each do |pet| %>
      <li class="list-unstyled">
        <%= link_to pet.name, pet_path(pet) %> |
        <%= link_to "delete", pet_path(pet), data: { turbo_method: "delete", turbo_confirm: "Delete #{pet.name}?" } %>
      </li>
    <% end %>
  </ul>

  <%= link_to "add a new pet", new_pet_path, class: "btn btn-primary" %>
</div>
